#container {
    border:1px black solid;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:100px;
    overflow-y:auto;
    overflow-x:hidden;
}
.item {
    margin:10px;
    border:1px gray dashed;
}
.pagination {
    position:absolute;
    bottom:0;
    left:0;
}